*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #D8D6D0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 12px;
    letter-spacing: 2px;
    width: 100%;
}
.nav_center h4{
    color: #2e8db3;
    
}
.nav_links{
display: flex;
list-style-type: none;
}
.nav_links li a{
text-decoration: none;
padding-right:24px ;
color: #000;
}